# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/
.env

# Data
data/*
!data/.keep
*.parquet
*.csv
*.hdf5

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.idea/
.vscode/
*.swp
.DS_Store

#LATEX 
*.toc
*.aux
*.out
*.log
*.synctex.gz
*.fls 
*.fdb_latexmk
